.confirmation {
  position: fixed;
  opacity: 0;
  z-index: 90;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*       background-color: rgb(255,255,255,0.25); */
  background-color: rgb(0,0,0,0.1);
  /*       background-color: rgb(192,192,192,0.1); */
  /* opacity: 0.1; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.confirmation.open {
  opacity: 1;
}

.confirmation .bground {
  width: 300px;
  background-color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.confirmation .yes_btn,
.confirmation .no_btn {
  margin: 0px 10px;
  width: 100px;
}

.confirmation .content {
  margin-bottom: 10px;
  display: table;
  height: 100px;
  width: 100%;
}
.confirmation .text {
  display: table-cell;
  vertical-align:middle;
}