.footer {
    width: 100%;
    z-index: 10;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px gold;
    transition: bottom 0.3s;
    transition-timing-function: cubic-bezier(0.36, 0.64, 0.41, 0.89);
}

.footer .tag svg path:hover {
    fill: gold;
}

.footer .tag svg path {
    fill: grey;
    cursor: pointer;
    transition: fill 0.25s;
}

.footer .tag svg {
    height: 50px;
    width: 50px;
}

.footer .tag {
    position: absolute;
    top: -35px;
    right: 10px;
}

.footer.opened {
    bottom:-0px;
}

.footer .footer_bground {
    margin: auto;
}

.footer .child .title {
    font-size: 12px;
    padding-bottom: 5px;
    font-weight: bold;
    color: gold;
}

.footer .child {
    vertical-align: top;
    width: 25%;
    display: inline-block;
    position: relative;
    padding: 10px 10px; 
    box-sizing: border-box;
}

.footer .child .val:hover {
    border-bottom: 1px solid goldenrod;
}

.footer .child .val:disabled {
    background-color: transparent;    
}

.footer .child .val {
    padding: 4px 0px;
    width: fit-content;
    cursor: pointer;
    transition: border-bottom 0.25s;
    font-size: 12px;
    border-bottom: 1px solid black;
    /* padding: 10px 0px; */
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid transparent;
    color: silver;
}

.footer .upper div.icon path {
  fill: silver;
  transition: fill 0.5s;
}

.footer .upper div.icon:hover path {
  fill: gold;
}

.footer .upper div.icon svg {
/*   vertical-align: middle; */
  padding-top: 3px;
  cursor: pointer;
  height: 15px;
}

.footer .upper div.icon {
  padding-left: 10px;
}

.footer .upper div {
  
  display: inline-block;
/*   vertical-align: bottom; */
}

.footer .upper .title {
  vertical-align: top;
  margin-right: 10px;
}

.footer .upper {
    border-bottom: 1px solid gold;
    color: gold;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    padding-top: 0px;
}

.footer .lower {
    text-align: right;
    color: gold;
    font-size: 8px;
    margin-top: 10px;
/*     padding: 10px 0px; */
}

.footer .footer_bground > .title {
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin: 20px 0px;
}

@media only screen and (min-width: 1000px) {
  .footer .footer_bground {
     width: 750px;
  }
}

@media only screen and (max-width: 450px) {
  .footer .child {
    width: 100%;
    border-bottom: 1px solid gold;
  }
}

