.img_croppie {
  width: calc(100%);
  height: calc(100% - 100px);
  top: 0px;
  left: 0px;
  position: fixed;
  opacity: 0;
  z-index: 10;
  display: none;
  /*pointer-events: none;*/
}

.img_croppie .cancel_btn,
.img_croppie .save_btn {
  margin: 10px 0px;
  margin-right: 10px;
  width: 100px;
  float: right;
}
.img_croppie.open {
  /*display: block;*/
  opacity: 1;
}

@media only screen and (min-width: 1000px) {
  .img_croppie {
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    top: 100px;
    left: 100px;
  }
}
