.sidebar {
  left: -280px;
  right: 56px;
  overflow-x: hidden;
  position: fixed;
  z-index: 10;
  height: 100%;
  background-color: #1a1a1a;
  border: 0 solid red;
  bottom: 0;
  max-width: 280px;
  top: 0;
  transition: left 0.3s;
/*   padding: 10px 10px; */
  box-sizing: border-box;

  transition-timing-function: cubic-bezier(0.36, 0.64, 0.41, 0.89);
  /*transform: translate3d(-100%,0,0); */
  /*transition: left 0.25s;*/
  /*transition: transform .35s cubic-bezier(.24,1,.32,1);*/
  /*visibility: hidden; */
}

.sidebar.opened {
  left: 0px;
}

.sidebar .child span {
  margin: 0px 10px
}

.sidebar .child svg path {
  fill: gold !important;
}

.sidebar .child svg {
  vertical-align: text-top;
/*   float: left; */
/*   height: 500px; */
/*   padding: 10px; */
/*   line-height: 100px; */
}

/*.sidebar .child:hover {
  background-color: var(--dark_color_3);
}
*/
.sidebar .child {
  transition: background-color 0.25s;
  /* background-color: #1a1a1a; */
  color: gold;
  padding: 10px 20px;
  box-sizing: border-box;
  cursor: pointer;
}
 