.theme {
  transition: 
    background-color 0.25s,
    visibility 0.25s,
    opacity 0.25s,
    /*color 0.25s,*/
    color 1s,
    border 0.25s,
    font-size 0.25s, 
    height 0.25s,
    width 0.25s,
    top 0.25s,
    bottom 0.25s,
    right 0.25s,
    left 0.25s !important;
  transition-timing-function: cubic-bezier(0.36, 0.64, 0.41, 0.89);
}

.theme.fa01 {font-family: 'Montserrat';}
.theme.fa02 {font-family: 'Montserrat Alternates';}
.theme.fa03 {font-family: 'Arvo';}
.theme.fa04 {font-family: 'Capriola';}
.theme.fa05 {font-family: 'Farro';}
.theme.fa06 {font-family: 'Armata';}
.theme.fa07 {font-family: 'Quando';}
.theme.fa08 {font-family: 'Rubik';}
.theme.fa09 {font-family: 'Work Sans';}
.theme.fa10 {font-family: 'Libre Baskerville';}

.theme.fs01.fttl {font-size: 18px !important; line-height: 26px !important;}
.theme.fs01.fsttl {font-size: 16px !important; line-height: 24px !important;}
.theme.fs01.fp {font-size: 14px !important; line-height: 22px !important;}
.theme.fs01.fpar {font-size: 20px !important; line-height: 28px !important;}
svg.theme.fs01 {width: 16px !important; height: 16px !important;}

.theme.fs02.fttl {font-size: 20px !important; line-height: 28px !important;}
.theme.fs02.fsttl {font-size: 18px !important; line-height: 26px !important;}
.theme.fs02.fp {font-size: 16px !important; line-height: 24px !important;}
.theme.fs02.fpar {font-size: 22px !important; line-height: 30px !important;}
svg.theme.fs02 {width: 22px !important; height: 18px !important;}

.theme.fs03.fttl {font-size: 22px !important; line-height: 30px !important;}
.theme.fs03.fsttl {font-size: 20px !important; line-height: 28px !important;}
.theme.fs03.fp {font-size: 18px !important; line-height: 26px !important;}
.theme.fs03.fpar {font-size: 24px !important; line-height: 32px !important;}
svg.theme.fs03 {width: 20px !important; height: 20px !important;}

svg.theme {cursor: pointer;}
svg.theme path {transition: fill 0.25s;}

input.theme.ca01:disabled {background-color: #F5F5F5;}
button.theme.ca01:disabled {background-color: #474747;}
svg.theme.ca01.svg_bgclr1 path {fill:#1A1A1A;}
svg.theme.ca01.svg_bgclr2 path {fill:#F5F5F5;}
svg.theme.ca01.can-hover:hover path {fill:gold;}
svg.theme.ca01.hover path {fill:gold;}
svg.theme.ca01:focus path {fill:gold;}
.theme.ca01.hover1,.theme.ca01.hover2{cursor: pointer;}
.theme.ca01.hover1.active1 {background-color: #474747;}
.theme.ca01.hover1.can-hover:hover {background-color: #474747;}
.theme.ca01.hover1.hover {background-color: #474747;}
.theme.ca01.hover1:focus {background-color: #474747;}
.theme.ca01.bgclr1 {background-color: #1A1A1A;}
.theme.ca01.hover2.can-hover:hover {background-color: #F5F5F5;}
.theme.ca01.hover2.hover {background-color: #F5F5F5;}
.theme.ca01.hover2:focus {background-color: #F5F5F5;}
.theme.ca01.bgclr2 {background-color: #F5F5F5;}
.theme.ca01.scroll {background-color: rgb(26, 26, 26, 0.1);}
.theme.ca01.color1 {color: black;}
.theme.ca01.color2 {color: #F5F5F5;}
.theme.ca01.point2 {caret-color: #F5F5F5;}

input.theme.ca02:disabled {background-color: #EAECEE;}
button.theme.ca02:disabled {background-color: #000060;}
svg.theme.ca02.svg_bgclr1 path {fill:#000030;}
svg.theme.ca02.svg_bgclr2 path {fill:#EAECEE;}
svg.theme.ca02.can-hover:hover path {fill:gold;}
svg.theme.ca02.hover path {fill:gold;}
svg.theme.ca02:focus path {fill:gold;}
.theme.ca02.hover1,.theme.ca02.hover2{cursor: pointer;}
.theme.ca02.hover1.active1 {background-color: #000060;}
.theme.ca02.hover1.can-hover:hover {background-color: #000060;}
.theme.ca02.hover1.hover {background-color: #000060;}
.theme.ca02.hover1:focus {background-color: #000060;}
.theme.ca02.bgclr1 {background-color: #000030;}
.theme.ca02.hover2.can-hover:hover {background-color: rgb(0, 0, 96, 0.1);}
.theme.ca02.hover2.hover {background-color: rgb(0, 0, 96, 0.1);}
.theme.ca02.hover2:focus {background-color: #EAECEE;}
.theme.ca02.bgclr2 {background-color: #EAECEE;}
.theme.ca02.scroll {background-color: rgb(23, 32, 42, 0.1);}
.theme.ca02.color1 {color: black;}
.theme.ca02.color2 {color: #EAECEE;}
.theme.ca02.point2 {caret-color: #EAECEE;}

input.theme.ca03:disabled {background-color: #F9EBEA;}
button.theme.ca03:disabled {background-color: #922B21;}
svg.theme.ca03.svg_bgclr1 path {fill:#350400;}
svg.theme.ca03.svg_bgclr2 path {fill:#F9EBEA;}
svg.theme.ca03.can-hover:hover path {fill:gold;}
svg.theme.ca03.hover path {fill:gold;}
svg.theme.ca03:focus path {fill:gold;}
.theme.ca03.hover1,.theme.ca03.hover2{cursor: pointer;}
.theme.ca03.hover1.active1 {background-color: #922B21;}
.theme.ca03.hover1.can-hover:hover {background-color: #922B21;}
.theme.ca03.hover1.hover {background-color: #922B21;}
.theme.ca03.hover1:focus {background-color: #922B21;}
.theme.ca03.bgclr1 {background-color: #350400;}
.theme.ca03.hover2.can-hover:hover {background-color: #F9EBEA;}
.theme.ca03.hover2.hover {background-color: #F9EBEA;}
.theme.ca03.hover2:focus {background-color: #F9EBEA;}
.theme.ca03.bgclr2 {background-color: #F9EBEA;}
.theme.ca03.scroll {background-color: EAEAFF;}
.theme.ca03.color1 {color: purple;}
.theme.ca03.color2 {color: #F9EBEA;}
.theme.ca03.point2 {caret-color: #F9EBEA;}

input.theme.ca04:disabled {background-color: #E9F7EF;}
button.theme.ca04:disabled {background-color: #145A32;}
svg.theme.ca04.svg_bgclr1 path {fill:#022A13;}
svg.theme.ca04.svg_bgclr2 path {fill:#E9F7EF;}
svg.theme.ca04.can-hover:hover path {fill:gold;}
svg.theme.ca04.hover path {fill:gold;}
svg.theme.ca04:focus path {fill:gold;}
.theme.ca04.hover1,.theme.ca04.hover2{cursor: pointer;}
.theme.ca04.hover1.active1 {background-color: #145A32;}
.theme.ca04.hover1.can-hover:hover {background-color: #145A32;}
.theme.ca04.hover1.hover {background-color: #145A32;}
.theme.ca04.hover1:focus {background-color: #145A32;}
.theme.ca04.bgclr1 {background-color: #022A13;}
.theme.ca04.hover2.can-hover:hover {background-color: #E9F7EF;}
.theme.ca04.hover2.hover {background-color: #E9F7EF;}
.theme.ca04.hover2:focus {background-color: #E9F7EF;}
.theme.ca04.bgclr2 {background-color: #E9F7EF;}
.theme.ca04.scroll {background-color: rgb(100, 30, 22, 0.1);}
.theme.ca04.color1 {color: purple;}
.theme.ca04.color2 {color: #E9F7EF;}
.theme.ca04.point2 {caret-color: #E9F7EF;}

input.theme.ca05:disabled {background-color: #F4ECF7;}
button.theme.ca05:disabled {background-color: #4A235A;}
svg.theme.ca05.svg_bgclr1 path {fill:#201027;}
svg.theme.ca05.svg_bgclr2 path {fill:#F4ECF7;}
svg.theme.ca05.can-hover:hover path {fill:gold;}
svg.theme.ca05.hover path {fill:gold;}
svg.theme.ca05:focus path {fill:gold;}
.theme.ca05.hover1,.theme.ca05.hover2{cursor: pointer;}
.theme.ca05.hover1.active1 {background-color: #4A235A;}
.theme.ca05.hover1.can-hover:hover {background-color: #4A235A;}
.theme.ca05.hover1.hover {background-color: #4A235A;}
.theme.ca05.hover1:focus {background-color: #4A235A;}
.theme.ca05.bgclr1 {background-color: #201027;}
.theme.ca05.hover2.can-hover:hover {background-color: #F4ECF7;}
.theme.ca05.hover2.hover {background-color: #F4ECF7;}
.theme.ca05.hover2:focus {background-color: #F4ECF7;}
.theme.ca05.bgclr2 {background-color: #F4ECF7;}
.theme.ca05.scroll {background-color: rgb(100, 30, 22, 0.1);}
.theme.ca05.color1 {color: purple;}
.theme.ca05.color2 {color: #F4ECF7;}
.theme.ca05.point2 {caret-color: #F4ECF7;}

input.theme.ca06:disabled {background-color: #FBEEE6;}
button.theme.ca06:disabled {background-color: #6E2C00;}
svg.theme.ca06.svg_bgclr1 path {fill:#301300;}
svg.theme.ca06.svg_bgclr2 path {fill:#FBEEE6;}
svg.theme.ca06.can-hover:hover path {fill:gold;}
svg.theme.ca06.hover path {fill:gold;}
svg.theme.ca06:focus path {fill:gold;}
.theme.ca06.hover1,.theme.ca06.hover2{cursor: pointer;}
.theme.ca06.hover1.active1 {background-color: #6E2C00;}
.theme.ca06.hover1.can-hover:hover {background-color: #6E2C00;}
.theme.ca06.hover1.hover {background-color: #6E2C00;}
.theme.ca06.hover1:focus {background-color: #6E2C00;}
.theme.ca06.bgclr1 {background-color: #301300;}
.theme.ca06.hover2.can-hover:hover {background-color: #FBEEE6;}
.theme.ca06.hover2.hover {background-color: #FBEEE6;}
.theme.ca06.hover2:focus {background-color: #FBEEE6;}
.theme.ca06.bgclr2 {background-color: #FBEEE6;}
.theme.ca06.scroll {background-color: rgb(100, 30, 22, 0.1);}
.theme.ca06.color1 {color: purple;}
.theme.ca06.color2 {color: #FBEEE6;}
.theme.ca06.point2 {caret-color: #FBEEE6;}

input.theme.ca07:disabled {background-color: #E8F8F5;}
button.theme.ca07:disabled {background-color: #0B5345;}
svg.theme.ca07.svg_bgclr1 path {fill:#08342B;}
svg.theme.ca07.svg_bgclr2 path {fill:#E8F8F5;}
svg.theme.ca07.can-hover:hover path {fill:gold;}
svg.theme.ca07.hover path {fill:gold;}
svg.theme.ca07:focus path {fill:gold;}
.theme.ca07.hover1,.theme.ca07.hover2{cursor: pointer;}
.theme.ca07.hover1.active1 {background-color: #0B5345;}
.theme.ca07.hover1.can-hover:hover {background-color: #0B5345;}
.theme.ca07.hover1.hover {background-color: #0B5345;}
.theme.ca07.hover1:focus {background-color: #0B5345;}
.theme.ca07.bgclr1 {background-color: #08342B;}
.theme.ca07.hover2.can-hover:hover {background-color: #E8F8F5;}
.theme.ca07.hover2.hover {background-color: #E8F8F5;}
.theme.ca07.hover2:focus {background-color: #E8F8F5;}
.theme.ca07.bgclr2 {background-color: #E8F8F5;}
.theme.ca07.scroll {background-color: rgb(100, 30, 22, 0.1);}
.theme.ca07.color1 {color: purple;}
.theme.ca07.color2 {color: #E8F8F5;}
.theme.ca07.point2 {caret-color: #E8F8F5;}

input.theme.ca08:disabled {background-color: #FCF3CF;}
button.theme.ca08:disabled {background-color: #7E5109;}
svg.theme.ca08.svg_bgclr1 path {fill:#3D2704;}
svg.theme.ca08.svg_bgclr2 path {fill:#FCF3CF;}
svg.theme.ca08.can-hover:hover path {fill:gold;}
svg.theme.ca08.hover path {fill:gold;}
svg.theme.ca08:focus path {fill:gold;}
.theme.ca08.hover1,.theme.ca08.hover2{cursor: pointer;}
.theme.ca08.hover1.active1 {background-color: #7E5109;}
.theme.ca08.hover1.can-hover:hover {background-color: #7E5109;}
.theme.ca08.hover1.hover {background-color: #7E5109;}
.theme.ca08.hover1:focus {background-color: #7E5109;}
.theme.ca08.bgclr1 {background-color: #3D2704;}
.theme.ca08.hover2.can-hover:hover {background-color: #FCF3CF ;}
.theme.ca08.hover2.hover {background-color: #FCF3CF ;}
.theme.ca08.hover2:focus {background-color: #FCF3CF ;}
.theme.ca08.bgclr2 {background-color: #FCF3CF ;}
.theme.ca08.scroll {background-color: rgb(100, 30, 22, 0.1);}
.theme.ca08.color1 {color: purple;}
.theme.ca08.color2 {color: #FCF3CF ;}
.theme.ca08.point2 {caret-color: #FCF3CF ;}

input.theme.ca09:disabled {background-color: #EBF5FB;}
button.theme.ca09:disabled {background-color: #1B4F72;}
svg.theme.ca09.svg_bgclr1 path {fill:#0E293B;}
svg.theme.ca09.svg_bgclr2 path {fill:#EBF5FB;}
svg.theme.ca09.can-hover:hover path {fill:gold;}
svg.theme.ca09.hover path {fill:gold;}
svg.theme.ca09:focus path {fill:gold;}
.theme.ca09.hover1,.theme.ca09.hover2{cursor: pointer;}
.theme.ca09.hover1.active1 {background-color: #1B4F72;}
.theme.ca09.hover1.can-hover:hover {background-color: #1B4F72;}
.theme.ca09.hover1.hover {background-color: #1B4F72;}
.theme.ca09.hover1:focus {background-color: #1B4F72;}
.theme.ca09.bgclr1 {background-color: #0E293B;}
.theme.ca09.hover2.can-hover:hover {background-color: #EBF5FB;}
.theme.ca09.hover2.hover {background-color: #EBF5FB;}
.theme.ca09.hover2:focus {background-color: #EBF5FB;}
.theme.ca09.bgclr2 {background-color: #EBF5FB;}
.theme.ca09.scroll {background-color: rgb(100, 30, 22, 0.1);}
.theme.ca09.color1 {color: purple;}
.theme.ca09.color2 {color: #EBF5FB;}
.theme.ca09.point2 {caret-color: #EBF5FB;}

input.theme.ca10:disabled {background-color: #F2F4F4;}
button.theme.ca10:disabled {background-color: #424949;}
svg.theme.ca10.svg_bgclr1 path {fill:#2A3030;}
svg.theme.ca10.svg_bgclr2 path {fill:#F2F4F4;}
svg.theme.ca10.can-hover:hover path {fill:gold;}
svg.theme.ca10.hover path {fill:gold;}
svg.theme.ca10:focus path {fill:gold;}
.theme.ca10.hover1,.theme.ca10.hover2{cursor: pointer;}
.theme.ca10.hover1.active1 {background-color: #424949;}
.theme.ca10.hover1.can-hover:hover {background-color: #424949;}
.theme.ca10.hover1.hover {background-color: #424949;}
.theme.ca10.hover1:focus {background-color: #424949;}
.theme.ca10.bgclr1 {background-color: #2A3030;}
.theme.ca10.hover2.can-hover:hover {background-color: #F2F4F4;}
.theme.ca10.hover2.hover {background-color: #F2F4F4;}
.theme.ca10.hover2:focus {background-color: #F2F4F4;}
.theme.ca10.bgclr2 {background-color: #F2F4F4;}
.theme.ca10.scroll {background-color: rgb(100, 30, 22, 0.1);}
.theme.ca10.color1 {color: purple;}
.theme.ca10.color2 {color: #F2F4F4;}
.theme.ca10.point2 {caret-color: #F2F4F4;}