DirectoryIndex index.php
ErrorDocument 403 index.php

# Enable RewriteEngine to rewrite URL patterns
RewriteEngine On

#(done) slash removing
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /(.*)/$
RewriteRule ^ /%1 [R,L] <-- =301 added slash here too, don't forget it

#RewriteBase /app/www.lanterlite.com/

# Every URI that not (! operator) ends with one of .php, .css, .js, .gif, .png, .jpg, .jpeg or .pdf
RewriteCond %{REQUEST_URI} !\.(php|css|js|words|lgen|lgd|gif|svg|icon|png|jpe?g|pdf|webp)$

# Will be redirected to templates/index.php
RewriteRule (.*)$ /index.php

#(done) double slash solved
RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
RewriteRule . %1/%2 [R=301,L]

Header add Access-Control-Allow-Origin "*"
#Header add Access-Control-Allow-Credentials: "true"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
Header add Access-Control-Allow-Headers: "*"
