/* Theme Night */

.theme_clr_main1 {color:black;}
.theme_bgclr_main1 {background-color:black;}

.theme_clr_text1 {color:white;}
.theme_clr_text2 {color:ivory;}
.theme_clr_text3 {color:lightgray;}

.theme_clr_bg1 {background-color:black;}
.theme_clr_bg2 {background-color:#1a1a1a;}
.theme_clr_bg3 {background-color:dimgray;}

.theme_clr_bg1_hover:hover {background-color:black;}
.theme_clr_bg2_hover:hover {background-color:#1a1a1a;}
.theme_clr_bg3_hover:hover {background-color:dimgray;}

.theme_clr_bgcontrast1 {background-color:white;}
.theme_clr_bgcontrast2 {background-color:ivory;}
.theme_clr_bgcontrast3 {background-color:dimgray;}

.theme_clr_fgcontrast1 {color:black;}
.theme_clr_fgcontrast2 {color:#1a1a1a;}
.theme_clr_fgcontrast3 {color:lightgray;}

.theme_clr_row1 {color:black;}
.theme_clr_row2 {color:#0d0d0d;}

.theme_clr_highlight {color:green;}
.theme_clr_disable {color:gray;}
.theme_bgclr_disable {background-color:gray;}

.theme_clr_contrastblue {color:lightskyblue;}
.theme_clr_contrastred {color:orangered;}
.theme_clr_contrastgreen {color:limegreen;}
.theme_clr_contrastgrey {color:lightgray;}
.theme_clr_contrastgoldenrod {color:goldenrod;}

.theme_clr_link {color:lightskyblue;}
