/* Theme Galaxy */

:root {
  --CLR_MAIN1: black;

  --CLR_BGCONTRAST1: white;
  --CLR_BGCONTRAST2: ivory;

  --CLR_FGCONTRAST1: black;
  --CLR_FGCONTRAST2: #7418FF;
  --CLR_FGCONTRAST3: lightgray;

  --CLR_ROW1: #0B0018;
  --CLR_ROW2: #17002A;

  --CLR_TEXT1: white;
  --CLR_TEXT2: ivory;
  --CLR_TEXT3: lightgray;

  --CLR_HIGHLIGHT: green;

  --CLR_DISABLE: gray;
};