/* Theme Night */

:root {
  --CLR_MAIN1: black;

  --CLR_BGCONTRAST1: white;
  --CLR_BGCONTRAST2: ivory;

  --CLR_FGCONTRAST1: black;
  --CLR_FGCONTRAST2: #1a1a1a;
  --CLR_FGCONTRAST3: lightgray;

  --CLR_ROW1: black;
  --CLR_ROW2: #0d0d0d;

  --CLR_TEXT1: white;
  --CLR_TEXT2: ivory;
  --CLR_TEXT3: lightgray;

  --CLR_HIGHLIGHT: green;

  --CLR_DISABLE: gray;

  --CLR_CONTRAST_BLUE: lightskyblue;
  --CLR_CONTRAST_RED: orangered;
  --CLR_CONTRAST_GREEN: limegreen;
  --CLR_CONTRAST_GREY: lightgray;
  --CLR_CONTRAST_GOLDENROD: goldenrod;
};

.theme_clr_main1 {color:black;}
.theme_bgclr_main1 {background-color:black;}

.theme_clr_text1 {color:white;}
.theme_clr_text2 {color:ivory;}
.theme_clr_text3 {color:lightgray;}

.theme_clr_bgcontrast1 {color:white;}
.theme_clr_bgcontrast2 {color:ivory;}

.theme_clr_fgcontrast1 {color:black;}
.theme_clr_fgcontrast2 {color:#1a1a1a;}
.theme_clr_fgcontrast3 {color:lightgray;}

.theme_clr_row1 {color:black;}
.theme_clr_row2 {color:#0d0d0d;}

.theme_clr_highlight {color:green;}
.theme_clr_disable {color:gray;}
.theme_bgclr_disable {background-color:gray;}

.theme_clr_contrastblue {color:lightskyblue;}
.theme_clr_contrastred {color:orangered;}
.theme_clr_contrastgreen {color:limegreen;}
.theme_clr_contrastgrey {color:lightgray;}
.theme_clr_contrastgoldenrod {color:goldenrod;}