/* Theme Day */

.theme_clr_main1 {color:white;}
.theme_bgclr_main1 {background-color:white;}

.theme_clr_text1 {color:black;}
.theme_clr_text2 {color:#1a1a1a;}
.theme_clr_text3 {color:dimgray;}

.theme_clr_bg1 {background-color:white;}
.theme_clr_bg2 {background-color:ivory;}
.theme_clr_bg3 {background-color:lightgray;}

.theme_clr_bg1_hover:hover {background-color:white;}
.theme_clr_bg2_hover:hover {background-color:ivory;}
.theme_clr_bg3_hover:hover {background-color:lightgray;}

.theme_clr_bgcontrast1 {background-color:black;}
.theme_clr_bgcontrast2 {background-color:#1a1a1a;}
.theme_clr_bgcontrast3 {background-color:dimgray;}

.theme_clr_fgcontrast1 {color:white;}
.theme_clr_fgcontrast2 {color:ivory;}
.theme_clr_fgcontrast3 {color:lightgray;}

.theme_clr_row1 {color:white;}
.theme_clr_row2 {color:ivory;}

.theme_clr_highlight {color:yellow;}
.theme_clr_disable {color:lightgray;}
.theme_bgclr_disable {background-color:lightgray;}

.theme_clr_contrastblue {color:#0600AD;}
.theme_clr_contrastred {color:red;}
.theme_clr_contrastgreen {color:#008000;}
.theme_clr_contrastgrey {color:#1a1a1a;}
.theme_clr_contrastgoldenrod {color:darkgoldenrod;}

.theme_clr_link {color:#0600AD;}
