

#mtbtn {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 6;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    /*background-color: #DDD;*/
    background-color: transparent;
    color: goldenrod;
    /*color: #555;*/
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#mtbtn:hover {
    background-color: transparent;
    /*background-color: #DDF;*/
    /*color: #000;*/
    color: gold;
}

