DirectoryIndex index.php
ErrorDocument 403 index.php


# Enable RewriteEngine to rewrite URL patterns
RewriteEngine On

# == ADD WWW TO DOMAIN
RewriteCond %{HTTP_HOST} ^lanterlite.com$ [NC]
RewriteRule (.*) https://tradelite.lanterlite.com/$1 [R=301,L] 

#(done) slash removing
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /(.*)/$
RewriteRule ^ /%1 [R,L] <-- =301 added slash here too, don't forget it

#RewriteBase /app/tradelite.lanterlite.com/

# Every URI that not (! operator) ends with one of .php, .css, .js, .gif, .png, .jpg, .jpeg or .pdf
RewriteCond %{REQUEST_URI} !\.(php|css|js|gif|png|jpe?g|pdf)$

# Will be redirected to templates/index.php
#RewriteRule (.*)$ /index.php

# == REDIRECT TO HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

##(done) refer to index.php
RewriteRule ^index.php/(.*)$ /$1 [R=302,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]


Header add Access-Control-Allow-Origin "*"
#Header add Access-Control-Allow-Credentials: "true"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
Header add Access-Control-Allow-Headers: "*"
