.lgen_page_info {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.lgen_page_info .bground {
  height: calc(100% - 0px);
  box-sizing: border-box;
  position:relative;
  overflow-y:auto;
}

.lgen_page_info .bground .content {
  padding: 50px 10px;
  overflow-y:auto;
}

.lgen_page_info .child {
    padding: 10px 0px; 
}

.lgen_page_info .child .title {
    font-size: 10px;
    color: grey;
    padding: 0px 0px; 
}

.lgen_page_info .child .val:focus {
    border-bottom: 1px solid goldenrod;
}

.lgen_page_info .child .val:disabled {
    background-color: transparent;    
}

.lgen_page_info .child .val {
    transition: border-bottom 0.25s;
    font-size: 12px;
    border-bottom: 1px solid black;
    /* padding: 10px 0px; */
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid black;
}

.lgen_page_info .std.purchase_license_btn,
.lgen_page_info .std.purchase_silver_btn {
    margin-top: 0px;
}

.lgen_page_info .std {
    width:100%;
    margin-top: 10px;
}

.lgen_page_info .bground .content > .title {
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin: 20px 0px;
}

.lgen_page_info select {
    border: none;
    background: none;
    box-shadow: none;
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
    line-height: unset;
    color: black;
}

.lgen_page_info .child.license {
    margin-top: 50px;
}

.lgen_page_info .license .val {
    padding: 20px 0px;
}
.lgen_page_info .lgd {
    margin-top: 10px;
}

.lgen_page_info .lgd .type,
.lgen_page_info .lgd .date {
    vertical-align: top;
    width: 50%;
    display: inline-block;
}

.lgen_page_info .lgd .date {
    color: darkgoldenrod;
    font-size: 12px;
    text-align: right;
}

@media only screen and (min-width: 1000px) {
  .lgen_page_info .bground {
     width: 750px;
     margin: auto;
  }
}
