.lgen_page_update {
    background-color: white;
    z-index: 10;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    top: 0;
    left: 0;
    position: absolute;
}

.lgen_page_update .bground {
    position: absolute;
    top: calc(45% - 100px);
    left: calc(50% - 100px);
    margin: auto;
    width: 200px;
    height: 200px;
}
on {
    width: 200px !important;
}

.lgen_page_update .std {
    width:100%;
    margin-top: 10px;
}

.lgen_page_update .bground > .current_version {

}

.lgen_page_update .bground .version2 {
    font-weight: bold;
}

.lgen_page_update .bground > .new_version {
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 10px 0px;
    font-size: 30px;
}