# == ADD WWW TO DOMAIN
RewriteCond %{HTTP_HOST} ^lanterlite.com$ [NC]
RewriteRule (.*) https://www.lanterlite.com/$1 [R=301,L] 

# == REMOVE WWW FROM DOMAIN
#RewriteEngine On
#RewriteBase /
#RewriteCond %{HTTP_HOST} ^www.lanterlite.com$ [NC]
#RewriteRule ^(.*)$ https://lanterlite.com/$1 [L,R=301]

# == REDIRECT TO HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Header add Access-Control-Allow-Origin "*"
#Header add Access-Control-Allow-Credentials: "true"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
Header add Access-Control-Allow-Headers: "*"

DirectoryIndex index.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [QSA,L]