:root {
	--FLORALWHITE: #FFFAF0;
	--CRIMSON: #DC143C;
	--SADDLEBROWN: #8B4513;
	--GOLDENROD: #DAA520;
	--PERU: #CD853F;
	--OLIVEDRAB: #9ACD32 ;
	--YELLOW: #FFFF00;
	--CREAM: #FFFCC9;
	--DARKGOLDENROD: #B8860B;
	--SANDYBROWN: #F4A460;
	--GOLD: #FFD700;
};

body {background-color: white;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media only screen and (max-width: 450px) {
 td.full {
    display: block !important;
    width: 100% !important;
    box-sizing : border-box;
    padding: 10px !important;
  }


	.footer table {
		width: 100% !important;
	}

	.footer table table td {
		padding: 10px !important;
	}

	.footer td {
		vertical-align: top;
		display: block !important;
		width: 100% !important;
	}


}

@media only screen and (min-width: 1000px) {
 td.full {
    /*display: block !important;*/
    /*float: left;*/
    width: 40% !important;
    padding: 10px !important;
  }

  #post_2 table#content {
    width: 50%;
    display: inline-block;
    /*background-color: transparent;*/
    vertical-align: top;
    /*float: left;*/
  }
}
	
.input_box {
	border: none;
	font-family: "lanterlite_cambria";
	border-bottom: 2px solid #8B4513;
	padding-bottom: 5px;
	width: 100%; font-size: 15px; background-color: transparent;
}

.input_box:focus {outline: none; caret-color: #8B4513;}

.brown-btn {
    border-radius: 5px;
    font-family: Montserrat;
    background-color: #8B4513; /*rgb(203, 175, 124);*/
    cursor: pointer;
    color: white;
}

.brown-btn:hover {
  background-color: #CD853F;
}

.brown-btn:disabled,
.brown-btn[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.gold-btn {
    border-radius: 5px;
    font-family: Montserrat;
    background-color: darkgoldenrod;
    cursor: pointer;
    color: ivory;
}

.gold-btn:hover {
	background-color: goldenrod;
}

.gold-btn:disabled,
.gold-btn[disabled]{
  background-color: #cccccc;
  color: #666666;
}

#post {
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 70px;
	padding-right: 70px;
	width: 1000px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin: auto;
	text-align: justify;
}


#home-post {
	/*margin: 50px 0px 0px 0px;*/


    /* padding: 10px 10px 10px 10px; */
    /* width: 90%; */
    border-color: #FFFFFF;
    /*background-color: goldenrod;*/
    /* border-radius: 5px; */
    text-align: justify;
}

#post_2 {
	text-align: center;
/*	padding: 10px 10px 10px 10px;
	width: 90%;
	border-color: #FFFFFF;
	background-color: white;
	border-radius: 5px;
	margin: auto;
	text-align: justify;
*/}

#home-post-mid
{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 110px;
	width: 1000px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: justify;
}

#home-post-bottom
{
/*	padding: 10px;
	width: 90%;
	max-width: 1700px;
	border-color: #FFFFFF;
	background-color: #F8DC6D;
	border-radius: 5px;
	margin: auto;
	text-align: justify;
*/}


#home-post-footest {
	width: 90%;
	max-width: 1700px;
	border-color: #FFFFFF;
	background-color: rgb(255,252,201);
	/* background-color: rgb(203, 175, 124); */
	/* border-radius: 5px; */
	border-radius: 0px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}



/* PRODUCT PAGE */


.product-page table {
	width: 100%;
}

.product-page table.product_slide_table {width: 100%;}
.product-page table.product_slide_table td.col_1 {vertical-align: bottom;}
.product-page table.product_slide_table td.col_2 { vertical-align: top;}

.product-page .col-1 {
	text-align: left;
	align-content: left;
	background-size: 100%;
	height: 100%;
}

.product-page .col-2 {
	padding: 20px 20px 20px 20px;
	background-color: black;
}

.product-page .col-text {
	font-family: "Crimson";
	color: #FFFCC9;
	text-align: center;
}

.product-page .product-slide-image {
	height: 100%;
	/*height: 70%;*/
	width: 70%;
}

.product-page .product-dots {
	text-align: center;
}
/*
div#post_2 td {width: 25%; padding: 10px 10px 10px 10px;}
div#post_2 td.col_img {text-align: center;}
div#post_2 img {width: 90%; border: 2px solid goldenrod; border-radius: 5px;}
div#post_2 td.col_title {font-size: 2vw; font-family: 'Crimson'; height: 10px; padding-top: 25px; text-align: left;}
div#post_2 td.col_subtitle {vertical-align: top; font-size: 1.2vw; font-family: 'Crimson'; text-align: left;}
div#post_2 td.col_title_2 {vertical-align: bottom; text-align: center; font-size: 2vw; font-family: 'Crimson'; height: 50px; padding-bottom: 0px;}
div#post_2 img.line {border: none; width: 100px;}
div#post_2 td.line {vertical-align: top; text-align: center; padding-top: 0px; height: 0px;}

/* HOME PAGE ============================================================================ */


.home-page table {
	width: 100%;
}

.home-page table.home_slide_table {width: 100%;}
.home-page table.home_slide_table td.col_1 {vertical-align: bottom;}
.home-page table.home_slide_table td.col_2 {vertical-align: top;}

.home-page .home_post_1 {
	text-align: left;
	align-content: left;
	background-size: 100%;
	height: 100%;
	background-color: black;
	background-repeat: no-repeat;
}

.home-page .col-text {
	font-family: "Crimson";
	font-size: 2vw; 
	color: #FFFCC9;
	text-align: center;
}

.home-page .home-slide-image {
	height: 100%; 
	width: 100%;
/*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
*/}

.home-page .home-dots {
	text-align: center;
}

/*div#post_2 td {width: 25%; padding: 10px 10px 10px 10px;}
div#post_2 td.col_img {text-align: center;}
div#post_2 img {width: 90%; border: 2px solid goldenrod; border-radius: 5px;}
div#post_2 img.line {border: none; width: 100px;}
div#post_2 td.line {vertical-align: top; text-align: center; padding-top: 0px; height: 0px;}
div#post_2 td.col_title {font-size: 2vw; font-family: 'Crimson'; height: 10px; padding-top: 25px; text-align: left;}
div#post_2 td.col_subtitle {vertical-align: top; font-size: 1.2vw; font-family: 'Crimson'; text-align: left;}
div#post_2 td.col_title_2 {vertical-align: bottom; text-align: center; font-size: 2vw; font-family: 'Crimson'; height: 50px; padding-bottom: 0px;}
div#post_2 div.btn {text-align: center; display: block;}
*/
div#post_2 button.brown-btn {width: 150px; height: 50px; text-align: center; display: table-cell; vertical-align: middle; text-decoration: none;}


/* ABOUT PAGE */


.about-page table {
	width: 100%;
}

.about-page table.about_slide_table {width: 100%;}
.about-page table.about_slide_table td.col_1 {vertical-align: bottom;}
.about-page table.about_slide_table td.col_2 { vertical-align: top;}

.about-page .col-1 {
	text-align: left;
	align-content: left;
	background-size: 100%;
	height: 100%;
}

.about-page .col-2 {
	padding: 10px 10px 10px 10px;
	background-color: black;
}

.about-page .col-text {
	font-family: "Crimson";
	font-size: 2vw; 
	color: #FFFCC9;
	text-align: center;
}

.about-page .about-slide-image {
	height: 100%;
	width: 70%;
	/*min-width: 1200px;*/ 
}

.about-page .about-dots {
	text-align: center;
}


div#post_2 td {width: 25%; padding: 10px 10px 0px 10px;}
div#post_2 td.col_img {text-align: center;}
div#post_2 img {width: 90%; border: 2px solid goldenrod; border-radius: 5px;}
div#post_2 td.col_title {/*vertical-align: bottom; */font-size: 2vw; font-family: 'Crimson'; height: 10px; padding-top: 25px; text-align: left;}
div#post_2 td.col_subtitle {vertical-align: top; font-size: 1.2vw; font-family: 'Crimson'; text-align: left;}
div#post_2 td.col_title_2 {vertical-align: bottom; text-align: center; font-size: 2vw; font-family: 'Crimson'; height: 50px; padding-bottom: 0px;}
div#post_2 img.line {border: none; width: 100px;}
div#post_2 td.line {vertical-align: top; text-align: center; padding-top: 0px; height: 0px;}

/* FOOTER PAGE ============================================================================ */


.footer {
	width: 100%;
}

.footer table {
	width: 100%;
}

.footer table table td {
  box-sizing : border-box; /* Important to prevent width goes outside parent's bond*/
	padding: 10px;	
}

.footer td {
	vertical-align: top;
	width: 25%;
}

.footer a {
	cursor: pointer;
	color: cornsilk;
	text-decoration: none;
	font-family: 'Crimson'; 
	font-size: 15px;
	color: lightgrey;
}

.footer .fields {
  color: goldenrod;
  font-family: Crimson;
  font-size: 20px;
}

.footer > div {
  padding: 10px;
  border-color: #1A1A1A;
  background-color: #1A1A1A;
  margin: auto;
}

.footer a:hover {
	color: #FFFF00;
}

.footer .footer-copyright {
	font-family: 'Times'; 
	color: cornsilk;
}

/* HEADER PAGE ============================================================================ */

/* REGISTER PAGE ============================================================================ */
.register-page {
	    background-color: white;
}

.register-page input#user_username,
.register-page input#user_email {
    text-transform: lowercase;
}
.register-page table.fields td {
    padding: 10px 10px 10px 10px;
}

/*.register-page table {
    width: 100%; 
    padding: 10px;
}
*/

.register-page .title {
  color: black;
  font-family: Montserrat;
  text-align: center;
  font-size: 40px;
}

.register-page .subtitle {
  color: grey;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.register-page table.fields input[type=text], 
.register-page table.fields input[type=password] {
	padding: 5px 0px 5px 0px;
  border: none;
  margin: 0px 0px 5px 0px;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
 	color: black;
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
}}

.register-page .main-title {
    font-size:30px;
    margin: 0px 0px 10px 0px;    
    padding: 0px 0px 0px 0px;
}

.register-page .form-title {
    font-size: 18px;
    padding: 0px 0px 0px 0px;
}


.register-page input[type=text]:focus, 
.register-page input[type=password]:focus {
    outline: none;
	    caret-color: black;
}

.register-page ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
}

.register-page :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
}

.register-page ::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
}

.register-page .brown-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.register-page #fullname_warn,
.register-page #username_warn,
.register-page #email_warn,
.register-page #password_warn,
.register-page #confirm_password_warn {
    color: #DC143C;
    font-size: 14px;
    font-family: "lanterlite_cambria";
}

.register-page #user_img_register {
    margin: 20px 0px 20px 0px;
    width: 100px;
    height: 100px;
    /*cursor: pointer;*/
    border: 2px solid black;
}

.register-page a {
    text-decoration: none;
    color: #FFFAF0;
}

.register-page a:hover {
    text-decoration: none;
    color: #8B4513;
}

.register-page input[type='file'] {
}


/* CSS for modal (popup license and agreement) */

.register-page .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.register-page .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.register-page .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.register-page .close:hover,
.register-page .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*.register-page #register-row-image,
.register-page #register-row-fullname,
.register-page #register-row-username,
.register-page #register-row-email,
.register-page #register-row-pass,
.register-page #register-row-confirm-pass,
.register-page #register-row-agreement,
.register-page #register-row-confirm-pass {
    height: 15%;
}
*/

.register-page .register-point {
    color: #DAA520;
    font-size: 13px;
    font-family: "lanterlite_cambria";    
}

div.register-page a.terms_cond_link {text-decoration: none; cursor: pointer;}
div.register-page a.terms_cond_link:hover {color: gold;}

td.col-2-head a.resend_email {
    background-color: #8B4513;
    color: cornsilk;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 250px;
    display: block; vertical-align: middle; text-align: center;
    line-height: 30px;
    /*height: 50px;*/
}

td.col-2-head a.resend_email:hover {
    background-color: #CD853F;
    text-decoration: none;
    cursor: pointer;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: goldenrod;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Home */
.body .page_store .fdate {
  font-weight: 600;
}

/* News */
.body .page_store {
  margin: 10px 32px;
}

.body .page_store h1 {
  font-family: Calibri;
  margin: 0px;
  color: black;
}

.body .page_store .p {
  font-family: Calibri;
  margin: 0px;
  font-family: Roboto;
  color: #282828;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 26px;
}

.body .page_store {
  font-family: Calibri;
  color: #282828;
  line-height: 1.5;
  text-align: left;
}

.body .page_store .sub {
  font-family: Calibri;
  margin: 0px 0px 15px 0px;
  color: darkgray;
  line-height: 25px;
  /* font-style: italic; */
}


/* Article */
.body .page_article {
  margin: 10px 32px;
  text-align: left;
}

.body .page_article h1 {
  font-family: Calibri;
  margin: 0px;
  color: black;
}

.body .page_article .sub {
  font-family: Calibri;
  margin: 0px 0px 15px 0px;
  color: darkgray;
  line-height: 25px;
  /* font-style: italic; */
}

.body .page_article .p {
  font-family: Calibri;
  margin: 0px;
  font-family: Roboto;
  color: #282828;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 26px;
}

.body .page_article {
  font-family: Calibri;
  color: #282828;
  line-height: 1.5;
}

/* =========== */
/* PAGE ITEM */
/* =========== */
.rating > span {
  color: goldenrod;
  font-size: x-large;
}

.item_discuss img,
.item_review img {
  border-radius: 50% !important;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}

.page_item table {
  width: 100%;
  height: 100%;
  text-align: center;
}
.item_head .content {
  display: none;
}

.item_head .item_condition {
  margin-bottom: 10px;
}

.item_head .item_button {
  vertical-align: bottom;
}

.item_head .item_shortdesc_2 {
  color: dimgray;
  font-family: sans-serif;
  font-weight: bold;
  color: dimgray;
  /*margin-bottom: 10px;*/
  font-size: medium; 
}

.item_head button,
.item_body button {
  width: fit-content;
  padding: 0px 10px;
}


.page_item .headinfo {
  padding: 10px;
  /*height: 100%;*/
  width: 50%;
  color: black; 
/*  text-align: left;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
*/  /*width: 40%; */
  /*height: 100%;*/
}

  .headinfo .item_seller { 
    font-family: sans-serif;
    font-weight: bold;
    color: dimgray;
    margin-bottom: 10px;
  }
    .headinfo .item_seller a { 
      text-decoration: none;
      color: darkgoldenrod !important;
    }
    .headinfo .item_seller a:hover { 
      color: goldenrod !important;
    }

  .headinfo .item_shortdesc {
    font-family: sans-serif;
    font-weight: bold;
    color: dimgray;
    margin-bottom: 10px;
    font-size: medium; 
  }
  .headinfo .item_name { 
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: x-large;
  }

  .headinfo .item_price { 
    color: green;
    font-family: sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: x-large;
  }

  .item_sellerinfo > div,
  .headinfo > div {
    height: 100%;
    font-family: sans-serif;
    font-size: normal;
    text-align: left;
    padding: 10px;
    /*height: 100%;*/
/*    border: 1px solid dimgray;
    box-shadow: 3px 3px 5px grey;
    padding: 10px;
    box-sizing: border-box;
*/  }

.page_item .img { 
  vertical-align: top;
  padding: 10px;
  /*height: 100%;*/
  /*width: 30%;*/
/*  display: inline-block;
  padding: 10px;
*/}
/*  .page_item .img > div {
    border: 1px solid dimgrey;
    height: 100%;
    box-shadow: 3px 3px 5px grey;
    font-family: sans-serif;
    font-size: normal;
    text-align: left;
    padding: 10px;
  }
*/
  .page_item .img .primary img {
    width: 100%;
    box-shadow: 3px 3px 5px grey;
    box-sizing: border-box;
  }
  .page_item .img .secondary img {
    /*opacity: 0.7;*/
    width: 20%;
    box-shadow: 3px 3px 5px grey;
    box-sizing: border-box;
  }

.page_item .item_sellerinfo {
  vertical-align: top;
  width: 100%;
  /*width: 20%; */
  box-sizing: border-box;
  height: 100%;
  color: black; 
  display: inline-block;
  padding: 10px;
}
  .item_sellerinfo .seller_img img { 
/*  border: 1px solid dimgrey;
  height: 100%;
  box-shadow: 3px 3px 5px grey;
  font-family: sans-serif;
  font-size: normal;
  text-align: left;
  padding: 10px;*/
    text-align: center;
    width: 100px;
    border-radius: 50%;
  }
  .item_sellerinfo .seller_name { 
    font-family: sans-serif;
    font-weight: bold;
    color: dimgray;
    margin-bottom: 10px;
  }
    .item_sellerinfo .seller_name a { 
      text-decoration: none;
      color: darkgoldenrod !important;
    }
    .item_sellerinfo .seller_name a:hover { 
      color: goldenrod !important;
    }

.item_body {
  color: black;
}
.item_body td {
  padding: 10px;
}
.item_body .button {
  text-align: left;
}
.item_head .content,
.item_body .content {
  padding: 10px;
  height: 100%;
}
.item_head .content > div,
.item_body .content > div {
  height: fit-content;
  /*height: 100%;*/
  font-family: sans-serif;
  font-size: normal;
  text-align: left;
  padding: 10px;
}

.item_body .content_right {
  padding: 10px;
  height: 100%;
}
.item_body .content_right > div {
  height: 100%;
  font-family: sans-serif;
  font-size: normal;
  text-align: left;
  padding: 10px;
}

@media only screen and (max-width: 450px) {
 td.flexible {
    display: block !important;
    width: 100% !important;
    padding: 10px !important;
    box-sizing: border-box;
  }
}


@media only screen and (max-width: 750px) {
  .item_shortdesc {
    display: none;
  }
  .item_head .content {
    display: table-cell;
  }
}

@media only screen and (min-width: 1000px) {
 td.flexible {
    /*display: block !important;*/
    /*float: left;*/
    width: 40% !important;
    padding: 10px !important;
  }
}

/* PAGE NOT FOUND */

.page_notfound {
  font: 15px/22px montserrat,sans-serif;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.page_notfound .num404 {
  font-size: 72px;
  color: goldenrod;
}

.page_notfound table {
  margin: auto;
}

.page_notfound td {
  /*padding: 10px;*/
  text-align: center;
}

.page_notfound h1 {
  color: goldenrod;
  font-size: 70px;
}
.page_notfound div {
  color: goldenrod;
  width: fit-content;
  font-size: 25px;
}
.page_notfound .img {
  border: none;
  width: 75px;
  height: 100px;
  margin: 20px auto;
}
.page_notfound .home {
  font: 15px/22px montserrat,sans-serif !important;
  margin: 20px auto;
  color: lightgray;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.page_notfound .home:hover {
  color: goldenrod;
}

/* PAGE UNDER MAINTENANCE */

.page_maintenance {
  font: 15px/22px montserrat,sans-serif;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.page_maintenance .num404 {
  font-size: 72px;
  color: goldenrod;
}

.page_maintenance table {
  margin: auto;
}

.page_maintenance td {
  /*padding: 10px;*/
  text-align: center;
}

.page_maintenance h1 {
  color: goldenrod;
  font-size: 70px;
}
.page_maintenance div {
  color: goldenrod;
  width: fit-content;
  font-size: 25px;
}
.page_maintenance .img {
  border: none;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
.page_maintenance .home {
  font: 15px/22px montserrat,sans-serif !important;
  margin: 20px auto;
  color: lightgray;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.page_maintenance .home:hover {
  color: goldenrod;
}