.page_item {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  overflow: auto;
  /* padding-top: 50px; */
}

.page_item .bground {
  padding-top: 50px;
  margin: auto;
  /* overflow-y: auto; */
}

@media only screen and (min-width: 1000px) {
  .page_item ._bground {
     width: 750px;
     margin: auto;
  }
}
.page_item ._bground > .top_title {
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 20px 0px;
}

.page_item .product .seller {
  color: royalblue;
  font-weight: bold;
}

.page_item img,
.page_item .product .status {
/*     padding: 10px; */
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.page_item .product .status {
    /* padding: 0px 10px; */
}

.page_item .desc,
.page_item .full_desc .content {
/*   line-height: 24px; */
}

.page_item .full_desc .title,
.page_item .purchase .title,
.page_item .name {
  font-weight: bold;
  margin-bottom: 5px;
}

.page_item .desc {
  color: grey;
  margin-bottom: 10px;
}

.page_item img {
    width: 100%;
    /* height: 100px; */
}

.page_item .imgs {
  margin-top:10px;
}

.page_item .imgs img.active,
.page_item .imgs img:hover {
    opacity: 1;
}

.page_item .imgs img {
    width: calc(100% / 5);
    cursor: pointer;
    opacity: 0.7;
    /* height: 100px; */
}

.page_item .purchase .quantity,
.page_item .purchase .price {
  margin: 0px 5px;
/*   margin-bottom: 5px;   */
}

.page_item .purchase .quantity {
  vertical-align: top;
  height: 20px;
  width: calc(100px - 20px);
}

.page_item .purchase .item_for {
  width: 120px;
}

.page_item .full_desc,
.page_item .product_img,
.page_item .product,
.page_item .purchase {
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 5px;
}

.page_item .increment,
.page_item .minus,
.page_item .plus {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 30px;
/*   background-color: black; */
/*   color: white; */
  font-weight: bold;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;

}

.page_item .colon {
  padding: 5px 10px !important;
}
.page_item .left_tbl, .page_item .colon {
  vertical-align: top;
}
.page_item .left_tbl{
  width: 80px;
  vertical-align: top;
}
.page_item .mid_tbl {
/*   text-align: center; */
  width: 80px;
  vertical-align: top;
}

.page_item .back_btn {
  width: 100%;
  margin-top: 10px;
/*   margin: 10px 15px 20px 15px; */
/*   position: relative; */
/*   width: calc(100% - 30px); */
/*   margin-bottom: 10px; */
}

.page_item .copy_btn,
.page_item .buy_btn {
  width: 100%;
}

.page_item select.currency {
  padding: 0px;
  border: none;
  border-bottom: 1px solid royalblue;
  border-radius: 0px;
}

.page_item .purchase table td {
  padding: 5px 0px;
}

.page_item table {
  margin-bottom: 5px;
}