.page_order_success_xweb {
    background-color: white;
    z-index: 10;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    top: 0;
    left: 0;
    position: absolute;
}

.page_order_success_xweb .bground {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    margin: auto;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
}

.page_order_success_xweb .child {
    padding: 10px 0px; 
    font-weight: bold;
    font-size: xx-large;
}

.page_order_success_xweb button {
    width: 100px !important;
}

.page_order_success_xweb .child .val:focus {
    border-bottom: 1px solid goldenrod;
}

.page_order_success_xweb .child .val:disabled {
    background-color: transparent;    
}

.page_order_success_xweb .child .val {
    cursor: pointer;
    transition: border-bottom 0.25s;
    font-size: 12px;
    border-bottom: 1px solid black;
    padding: 10px 10px;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid black;
}

.page_order_success_xweb .child .val .date {
    color: darkgoldenrod;
    font-size: 10px;
    text-align: right;
}

.page_order_success_xweb .child .val .title {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 100%; 
  height: 1.2em; 
  white-space: nowrap;
 }
.page_order_success_xweb .child .val .title,
.page_order_success_xweb .child .val .date {
    vertical-align: top;
    display: inline-block;
}

.page_order_success_xweb .std {
    width:100%;
    margin-top: 10px;
}

.page_order_success_xweb .bground > .title {
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 10px 0px;
    font-size: 30px;
}

@media only screen and (min-width: 1000px) {
  .page_order_success_xweb .bground {
      left: calc(50% - 250px);
      width: 500px;
  }
}