.page_home {
    background-color: white;
    z-index: 10;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
/*     top: calc(50% - 100px); */
/*     left: calc(50% - 100px); */
    position: absolute;
    vertical-align: ;
}

.page_home input.srcbar {
/*   height: 40px; */
  padding: 15px 15px;
}

.page_home .bground {
    width: 400px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    margin: auto;
    position: absolute;
}

@media only screen and (max-width: 450px) {
  .page_home .bground {
     width: 300px;
     left: calc(50% - 150px);
  }
}

@media only screen and (min-width: 1000px) {
  .page_home .bground {
     width: 700px;
     left: calc(50% - 350px);
  }
}

.page_home .child {
    padding: 10px 0px; 
    font-weight: bold;
    font-size: xx-large;
}

.page_home button {
    width: 100px !important;
}

.page_home .child .val:focus {
    border-bottom: 1px solid goldenrod;
}

.page_home .child .val:disabled {
    background-color: transparent;    
}

.page_home .child .val {
    cursor: pointer;
    transition: border-bottom 0.25s;
    font-size: 12px;
    border-bottom: 1px solid black;
    padding: 10px 10px;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid black;
}

.page_home .child .val .date {
    color: darkgoldenrod;
    font-size: 10px;
    text-align: right;
}

.page_home .child .val .title {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 100%; 
  height: 1.2em; 
  white-space: nowrap;
 }
.page_home .child .val .title,
.page_home .child .val .date {
    vertical-align: top;
    display: inline-block;
}

.page_home .std {
    width:100%;
    margin-top: 10px;
}

.page_home .bground > .title {
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 10px 0px;
    font-size: 30px;
}