.page_detail {
  background-color: white;
  padding: 60px 10px 10px 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.page_detail .arabic_content {
  padding: 5px 10px;
  text-align: right;
  font-size: 18px;
  font-weight: 100;
  color: green;
  font-family: me_quran;
}

.page_detail .subtitle_1,
.page_detail .subtitle_2,
.page_detail .content {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  color: black;
}

.page_detail .subtitle_1,
.page_detail .subtitle_2 {
  font-weight: bold;
  color: darkgoldenrod;
}

.page_detail .bottom_page {
  margin: 10px;
}

.page_detail .bottom_page .back {
  width: 100px;
}

.page_detail .bground > .title {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.page_detail .val {
  padding: 10px;
}