/* cyrillic-ext */ @font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: local('Montserrat Regular'), local('Montserrat-Regular'), url(./assets/lite.css/fonts/montserrat/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2'); unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */ @font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: local('Montserrat Regular'), local('Montserrat-Regular'), url(./assets/lite.css/fonts/montserrat/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2'); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */ @font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: local('Montserrat Regular'), local('Montserrat-Regular'), url(./assets/lite.css/fonts/montserrat/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2'); unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */ @font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: local('Montserrat Regular'), local('Montserrat-Regular'), url(./assets/lite.css/fonts/montserrat/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2'); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */ @font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: local('Montserrat Regular'), local('Montserrat-Regular'), url(./assets/lite.css/fonts/montserrat/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* latin */ @font-face { font-family: 'Crimson'; font-style: normal; font-weight: 400; src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(./assets/lite.css/fonts/crimson/wlp2gwHKFkZgtmSR3NB0oRJfbwhT.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; } 

/* arabic */ @font-face { font-family: 'Scheherazade'; font-style: normal; font-weight: 400; src: local('Scheherazade'), local('Scheherazade-Regular'), url(./assets/lite.css/fonts/scheherazade/YA9Ur0yF4ETZN60keViq1kQQtZmptvY.woff2) format('woff2'); unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC; } 
/* latin */ @font-face { font-family: 'Scheherazade'; font-style: normal; font-weight: 400; src: local('Scheherazade'), local('Scheherazade-Regular'), url(./assets/lite.css/fonts/scheherazade/YA9Ur0yF4ETZN60keViq1kQQsJmp.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face { font-family: 'me_quran'; src: url('./assets/lite.css/fonts/me_quran/me_quran.ttf') format('truetype'); }
@font-face { font-family: 'pdms_saleem'; src: url('./assets/lite.css/fonts/pdms_saleem/PDMS_Saleem.ttf') format('truetype'); }
@font-face { font-family: 'kfc_naskh'; src: url('./assets/lite.css/fonts/kfc_naskh/KFC_naskh.otf') format('truetype'); }

/* arabic */ @font-face { font-family:LPMQ; src:url(./assets/lite.css/fonts/lpqm/LPMQ.eot);src:url(./assets/lite.css/fonts/lpqm/LPMQ.eot?#iefix) format('embedded-opentype'), url(./assets/lite.css/fonts/lpqm/LPMQ.woff) format('woff'), url(./assets/lite.css/fonts/lpqm/LPMQ.ttf) format('truetype');font-weight:400;font-style:normal; }

/* latin-ext */ @font-face { font-family: 'Quando'; font-style: normal; font-weight: 400; src: local('Quando-Regular'), url(./assets/lite.css/fonts/quando/xMQVuFNaVa6YuW0ZAq-yGX8.woff2) format('woff2'); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; } 
/* latin */ @font-face { font-family: 'Quando'; font-style: normal; font-weight: 400; src: local('Quando-Regular'), url(./assets/lite.css/fonts/quando/xMQVuFNaVa6YuW0ZDK-y.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */ @font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local('Roboto'), local('Roboto-Regular'), url(./assets/lite.css/fonts/roboto/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2'); unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; } 
/* cyrillic */ @font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local('Roboto'), local('Roboto-Regular'), url(./assets/lite.css/fonts/roboto/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2'); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; } 
/* greek-ext */ @font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local('Roboto'), local('Roboto-Regular'), url(./assets/lite.css/fonts/roboto/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2'); unicode-range: U+1F00-1FFF; }
/* greek */ @font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local('Roboto'), local('Roboto-Regular'), url(./assets/lite.css/fonts/roboto/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2'); unicode-range: U+0370-03FF; } 
/* vietnamese */ @font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local('Roboto'), local('Roboto-Regular'), url(./assets/lite.css/fonts/roboto/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2'); unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; } 
/* latin-ext */ @font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local('Roboto'), local('Roboto-Regular'), url(./assets/lite.css/fonts/roboto/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2'); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; } 
/* latin */ @font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: local('Roboto'), local('Roboto-Regular'), url(./assets/lite.css/fonts/roboto/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/*GOLDENROD: #DAA520*/
/*LIGHTGOLDENROD: #eedd82*/
/*Crayola Goldenrod: #fcd667*/
/*LBLACK: #1a1a1a*/

/*:root {
  --CLR_LOGO: goldenrod;
  --CLR_SEARCH: #0F0F0F;
  --CLR_CONTENT: #0F0F0F;
  --CLR_NEXT: #0600AD;
  --CLR_HOME_BG: #0F0F0F;

  --CLR_HEADER: #1a1a1a;
  --CLR_BACKGROUND: white;
  --CLR_TITLE: #0600AD;
  --CLR_SUBTITLE: #008000;
  --CLR_DESCRIPTION: #1a1a1a;

  --FF_LOGO: "Crimson Text";
  --FF_ARABIC: "Scheherazade";
  --FF_GENERAL: "Arial";

  --FS_LOGO_HEADER: 20px;

}
*/
.ff_general {font-family: "Arial";}
.ff_arabic {font-family: "Scheherazade";}
.ff_logo {font-family: "Crimson";}

.fs_xxlarge {font-size: xx-large;}
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, 
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x:auto;
  /*margin:0;*/
  padding:0;
  /*display: flex;*/
  /*flex-direction: column-reverse;*/
  /*height: 100%;*/
}
body {
  margin: 0 auto;
}

img.circle {
  border-radius: 50% !important;
}

#mgmt textarea {  
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  padding:10px;
  width:250px;
  font-size:14px;
  /*margin:50px auto;*/
  display:block;
  border-radius:10px;
  border:6px solid #556677;
}

#mgmt textarea.right { width: 100%; }
#mgmt table { width: 80%; border-color: transparent;}
#mgmt table td.left { width: 100px; padding: 5px 5px 5px 5px; }
#mgmt table td.right { width: 100%; }
#mgmt table td.first { background-color: floralwhite; }
#mgmt table td.second { background-color: cornsilk; }
#mgmt div.apply { z-index: 10; width:100%; background-color: white; }

.btn_green {
  background-color: green !important;
  color: black !important;
}

.fitcontent {
  width: fit-content !important;
}

.clickable:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.transparent {
  background-color: transparent !important;
}

.arabic {
  font-family: me_quran !important;
  transition: font-size 0.25s ease 0s;
}

.latin {
  font-family: Calibri !important;
  transition: font-size 0.25s ease 0s;
}

textarea.xoutline:focus, 
input.xoutline:focus{
    outline: none;
}

.notif_hover:hover,
.notif_hover.has_read:hover {
  background-color: lightgray;
  cursor: pointer;
}

.notif_hover.has_read {
  width: 100%; 
  background-color: white;
}

.notif_hover {
  width: 100%; 
  background-color: #FFEB6D;
  border-bottom: 1px solid goldenrod;
}

.fcanvas_profile.title {
  padding: 10px 5px 10px 0px;
  font-weight: bold;
  color: black;
}

.fcanvas_profile {
  font-size: normal;
  font-family: Montserrat;
}

.fcanvas_profile.val {
  padding: 10px 0px 10px 5px;
  color: dimgrey;
}

.fcanvas_info {
  background-color: #333;
  /*border-radius: 4px;*/
  border-bottom: 1px solid #1a1a1a;}

.fcanvas_info .div {
    padding: 10px 0px 10px 15px;
    font-family: Montserrat;
    font-size: 1.2em;
    text-decoration: none;
}

.fcanvas_info .div .title {
  color: white;
}

.fcanvas_info .div .val {
  color: goldenrod;
}
/* SCROLLBAR ======================================= */

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: goldenrod; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(218,165,32,0.4); 
}

/* SCROLLBAR:END; ======================================= 

/* 

CANVAS
  -> HEADER
  -> BODY

##  ## ###### ###### ####   ###### ######
##  ## ##     ##  ## ## ##  ##     ##  ##
###### ###### ###### ##  ## ###### ######
##  ## ##     ##  ## ## ##  ##     ## ##
##  ## ###### ##  ## ####   ###### ##  ##

*/


.canvas {
  display: flex;
  flex-direction: column;
  float: left;
  width: 100%;
  height: 100%;
}

/*.canvas > .body ~ .body {*/

.canvas > .body {
  /*top: 50px;*/
  margin-top: 50px;
  width: 100%;
  position: absolute; /* optional */
  /*height: 100%;*/
  border-color: #FFFFFF;
  text-align: justify;
}
/*
body {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin-top: 50px;
  width: 100%;
  border-color: #FFFFFF;
  text-align: justify;
  overflow-y: scroll;
  overflow-x: hidden;  
}*/

.canvas > .header {
  transition: top 0.3s;
  height: 50px;
  top: 0px;
  z-index: 8;
  position: fixed;
  background-color: #1A1A1A;
  margin: auto;
  width: 100%;
  border-bottom: 1px solid goldenrod;
  box-shadow: 0px 0.5px 25px goldenrod;
  /*min-width: 1008px;*/
  /*max-width: 1700px;*/
  /*padding: 10px 10px 10px 10px;*/
  /*border-radius: 5px;*/
}

.header input.srcbar:focus {
  outline: none;
}

.canvas > .header a {
  display: inline-block;
  color: goldenrod;
  text-align: center;
  text-decoration: none;
}

.canvas > .header .menu-bar:hover {
  color: gold;
  background-color: dimgray;
}

.canvas > .header .menu-bar {
  font-family: Montserrat;
  box-sizing: border-box;
  padding: 10px 15px 10px 15px;
  width: 100%;
  text-align: left;
}

.canvas > .header input#email {
  text-transform: lowercase;
}

.canvas > .header #header-col-image {
  vertical-align: middle;
}

.canvas > .header #header-col-username {
  padding-right: 5px;
}

.canvas > .header #header-col-email,
.canvas > .header #header-col-pass,
.canvas > .header #header-col-signin-btn {
  vertical-align: bottom;
}

.canvas .header #header-col-signup-btn,
.canvas .header #header-col-signin-warn,
.canvas .header #header-col-show-pass {
  vertical-align: top;
}

.inline-field input,
.inline-field label {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 12px;
}

.profile-image {
  border-radius: 50%; 
}

.canvas .header .dropdown .title:hover {
  color: gold;
  cursor: pointer;
  background-color: dimgray;
}
.canvas .header .dropdown .title_xhover,
.canvas .header .dropdown .title {
  /*display: inline-block;*/
  color: goldenrod;
  /*text-align: center;*/
  /*text-decoration: none;*/
  font-family: Montserrat;
  text-align: left;
  padding: 5px;
}

.canvas .header .dropdown {
  position: relative;
  display: inline-block;
  width: 50px; height: 50px; 
  text-align: center; 
  border-radius: 50%;
}

.canvas .header .dropdown.open img{
  border: 2px solid gold;
}
.canvas .header .dropdown img {
  border: 2px solid goldenrod;
  border-radius: 50%;
  display: block;
  /* width: 100%; */
  height: 90%;
}

.canvas .header .dropdown:hover .dropdown-content {
  /*display: block;*/
  /*text-align: right;*/
}

.canvas .header .dropdown.open .dropdown-content{
  /*transform: none;*/
/*  display: block;
  text-align: right;*/
}


/*

DROPDOWN CONTENT

*/


.dropdown-content a:hover {
  cursor: pointer; 
  border-radius: 5px; 
  background-color: dimgray;
}

.dropdown-content {
  margin: 5px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  display: none;
/*  transform: translate3d(-100%,0,0); 
  transition: transform .35s cubic-bezier(.24,1,.32,1);
*/  position: absolute;
  background-color: #1a1a1a;
  right: 0;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: ivory;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  font-family: Montserrat;
  display: block;
  text-align: left;
}

div.dropdown-content div.verifyemail_status,
div.dropdown-content div.litepoint_status,
div.dropdown-content div.litegold_status {
  font-size: 15px;
  font-family: Montserrat;
  text-align: left;
  color: gold;
  padding: 5px 5px 5px 5px;
}

#signin_warn_lbl{
  font-size: 12px;
  color: red;
}

#warn_pass_txt{
  font-size: 12px;
  color: red;
}

.canvas .header input.signin_box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#email{
  box-sizing : border-box; /* Important to prevent width goes outside parent's bond*/
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

#password{
  box-sizing : border-box; /* Important to prevent width goes outside parent's bond*/
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

#signin_btn, #signup_btn {
  width: 100%;
  height: 40px;
  /*padding: 3px;*/
  /*margin-right: 2px;*/
  font-size: 12px;
}


#login {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  padding-bottom:0px;
  max-width:1150px;
  height:10px;
  display: inline-block;
  position: relative;
  left: 350px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input.num {

}

img.std {
  border: 2px solid goldenrod;
  border-radius: 10px;
}

textarea.lowercase,
input.lowercase{
  text-transform: lowercase;
}

input.amount{
  font-family: Calibri;
  box-sizing: border-box;
  width: 100%;
  padding: 7px;
  font-size: 14px;
  /* -webkit-border-radius: 5px; */
  -moz-border-radius: 5px;
  /* border-radius: 5px; */
  /* box-shadow: 1px 1px 2px 1px #999; */
  outline: none;
  border: none;
  /*background-color: transparent;*/
  border-bottom: 1px solid black;
}

input.std{
  font-family: Calibri;
  box-sizing: border-box;
  width: 100%;
  padding: 7px;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #999;
  outline: none;
  border: 1px solid darkgray;
}


textarea.std{
  box-shadow: 1px 1px 2px 1px #999;
  resize: none;
  font-family: Calibri;
  box-sizing: border-box;
  width: 100%;
  padding: 7px;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}

button.std {
  text-shadow: 1px 1px 3px black;
  box-shadow: 1px 1px 2px 1px #999;
  border-radius: 7px;
  /*border: none;*/
  font-family: Montserrat;
  text-align: center;
  cursor: pointer;
  height: 40px;
  outline:none;
}

button.gold {
  background-color: darkgoldenrod;
  color: yellow;
}

button.brown {
  background-color: saddlebrown;
  color: cornsilk;
}

button.transparent {
  border: none;
  background-color: transparent;
  color: transparent;
  cursor: none;
  height: 40px;
}

.gold:hover {
  background-color: goldenrod;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
}

.brown:hover {
  background-color: peru;
}

.std:disabled,
.std[disabled]{
  background-color: #cccccc !important;
  color: #666666;
}

/* ===

SIDEBAR

=== */

.sidebar > .header {
  height: 50px;  
  text-align: center;  
  line-height: 70px;
}

.sidebar > .header img {
  height: 33px;  
}

.sidebar > .body {
  width: 100%;
  border-top: 1px solid goldenrod;
} 

.sidebar td {
  width: 100%;
}

.sidebar td a {
  font-size: 18px;
}

.bg.gen {
  background-color: black;
  opacity: 0.5;
}

.bg.dark {
  background-color: black;
  opacity: 0.5;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.sidebar.open {
  left: 0px;
}

.sidebar {
  left: -280px;
  right: 56px;
  overflow-x: hidden;
  position: fixed;
  z-index: 10;
  height: 100%;
  background-color: #1a1a1a;
  /*background: #fff;*/
  border: 0 solid red;
  bottom: 0;
  max-width: 280px;
  top: 0;
  /*transform: translate3d(-100%,0,0); */
  transition: left 0.25s;
  /*transition: transform .35s cubic-bezier(.24,1,.32,1);*/
  /*visibility: hidden; */
}



/* =============================================================

ACCOUNT SIDEBAR 

============================================================= */ 

.asidebar > .header {
  height: 50px;  
  text-align: center;  
  line-height: 70px;
}

.asidebar > .header img {
  height: 33px;  
}

.asidebar > .body {
  width: 100%;
  border-top: 1px solid goldenrod;
} 

.asidebar td {
  width: 100%;
}

.asidebar td a {
  font-size: 18px;
}

.bg.acc {
  background-color: black;
  opacity: 0.5;
}

.asidebar.open {
  left: 0px;
}

.asidebar {
  left: -280px;
  right: 56px;
  overflow-x: hidden;
  position: fixed;
  z-index: 10;
  height: 100%;
  background-color: #1a1a1a;
  /*background: #fff;*/
  border: 0 solid red;
  bottom: 0;
  max-width: 280px;
  top: 0;
  /*transform: translate3d(-100%,0,0); */
  transition: left 0.25s;
  /*transition: transform .35s cubic-bezier(.24,1,.32,1);*/
  /*visibility: hidden; */
}

/* =============================================================

FLOATING CANVAS 

============================================================= */ 

@media only screen and (max-width: 450px) {
  #fcanvas #main {
    left: 10px !important;
    right: 10px !important;
  }
}

.fcanvas .header {
  background-color: #1a1a1a;
  border-spacing: 0;
  /*border-radius: 7px;*/
  overflow: hidden;
  border-collapse: collapse;
}

.fcanvas .header .title {
  font-family: Montserrat;
}

.fcanvas .main.large {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    /* margin: auto; */
    /* min-width: 200px; */
    /* max-width: 500px; */
    z-index: 10;
    /* min-height: 100px; */
    /* min-height: 200px; */
    /* max-height: 500px; */
    border: 1px solid #1a1a1a;
}

.fcanvas .main.small {
  position: absolute;
  top: 75px;
  bottom: 75px;
  left: 75px;
  right: 75px;
  margin: auto;
  min-width: 200px;
  max-width: 500px;
  z-index: 10;
  min-height: 100px;
  min-height: 200px;
  max-height: 500px;
  border: 1px solid #1a1a1a;
}

.fcanvas .body.large {
  top: 38px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 100px;
}

.fcanvas .body {
  padding: 10px;
  overflow-y: auto;
  overflow-x: auto;
  position: absolute;
  border: 1px solid #1a1a1a;
  z-index: 10;
}

.fcanvas .body.small {
  bottom: 75px;
  top: 38px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  min-width: 200px;
  max-width: 500px;
  min-height: 100px;
  min-height: 50px;
  max-height: 500px;
}

.fcanvas .close img {
  height: 15px;
}

.fcanvas {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    top: 0px;
    left: 0px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    background-color: transparent;  
}

/* ================================================

FLOATING BUTTON

================================================ */

.fbutton_bg {
  position: fixed;
  width: 100%;
  background-color: transparent;
  height: 100%;
  z-index: 9;
}

.fbutton.open {
  bottom: 35px;  
}

.fbutton {
    min-width: 250px;
    /*margin-left: -125px;*/
    /* background-color: #333; */
    color: #fff;
    text-align: center;
    border-radius: 2px;
    /*padding: 16px;*/
    position: fixed;
    z-index: 10;
    width: 100%;
    /*left: 25%;*/
    /*right: 25%;*/
    bottom: -70px;
    font-size: 17px;      /* This thing makes the div inside will be centered. */
    display: flex;
    align-items: center;
    transition: bottom 0.5s;
    justify-content: center;
}

.white path {
  fill: white;
}

/*svg.fitwidth {
  width: white;
}
*/
.fbutton .btn {
    /* display: none; */
    /* position: fixed; */
    /* bottom: 20px; */
    /* right: 30px; */
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    font-family: Calibri;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
}

/* ================================================

SNACKBAR

================================================ */


.snackbar .bar {
  padding: 10px;
  background-color: #1a1a1a;
  opacity: 0.9;
  font-family: Calibri;
  color: white;
/*   width: 50%; */
  width: fit-content;
  border-radius: 7px;
}

/*.snackbar .bar {
  padding: 10px;
  background-color: goldenrod;
  font-family: Calibri;
  color: black;
  width: 50%;
}
*/
.snackbar {
  /*visibility: hidden;*/
  min-width: 250px;
  /*margin-left: -125px;*/
  /*background-color: #333;*/
  color: #fff;
  text-align: center;
  border-radius: 2px;
  /*padding: 16px;*/
  position: fixed;
  z-index: 20;
  width: 100%;
  /*left: 25%;*/
  /*right: 25%;*/
  bottom: 30px;
  font-size: 17px;

  /* This thing makes the div inside will be centered. */
  display: flex;
  align-items: center;
  justify-content: center;
  /* === */
}

.snackbar.show {
  /*visibility: visible;*/
/*  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
*/}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}



/* =============================================================

ACCORDION

============================================================= */ 

.accordion
{
    overflow:hidden;
    /*border-radius:4px;*/
    background:#f7f7f7;
    font-family: Montserrat;
}
.accordion-section-title
{
    width:100%;
    padding:15px;
}
.accordion-section-title
{
        width: 100%;
        padding: 15px;
        display: inline-block;
        background-color: #333;
        border-bottom: 1px solid #1a1a1a;
        font-size: 1.2em;
        color: #fff;
        transition: all linear 0.5s;
        text-decoration:none;
}
.accordion-section-title.active
{
    background-color:#4c4c4c;
    text-decoration:none;
    }
    .accordion-section-title:hover
    {
    background-color:grey;
    text-decoration:none;
}
.accordion-section:last-child .accordion-section-title
{
    border-bottom:none;
}
.accordion-section-content
{
    padding:15px;
    display:none;
}




/* =============================================================

Range Slider

============================================================= */ 

.rslider {
  width: 100%;
}

.rslider > table {
  width: 100%;
}

.rslider .title {
  width: 100px;
}

.rslider .title,
.rslider p {
  /*font-weight: 700;  */
}

.rslider div.bar {
  width: 100%;
}

.rslider div.bar input.bar {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rslider div.bar input.bar:hover {
  opacity: 1;
}

.rslider div.bar input.bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: goldenrod;
  cursor: pointer;
}

.rslider div.bar input.bar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: goldenrod;
  cursor: pointer;
}










#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 6;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    /*background-color: #DDD;*/
    background-color: transparent;
    color: goldenrod;
    /*color: #555;*/
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: transparent;
    /*background-color: #DDF;*/
    /*color: #000;*/
    color: gold;
}





/* ========================================

LOADING

======================================== */

.loading {
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: black;
  opacity: 0.5;
  text-align: center;
  position: fixed;
}

.loading .lds-ellipsis {
  top: 50%;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading .lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: goldenrod;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading .lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loading .lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loading .lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loading .lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* ===============================

CHECKBOX

=============================== */

/*.checkbox {
  padding-right: 100px;
  padding-left: 10px;
}
*/



.el-radio,
.el-checkbox {
  position: relative;
  font-size: 100%;
}
label.el-radio,
label.el-checkbox {
  display: block;
  cursor: pointer;
}
.el-radio > input[type="radio"],
.el-checkbox > input[type="checkbox"] {
  display: none;
}
.el-radio > input[type="radio"][disabled],
.el-checkbox > input[type="checkbox"][disabled] {
  cursor: not-allowed;
}
.el-radio > input[type="radio"] + .el-radio-style,
.el-checkbox > input[type="checkbox"] + .el-checkbox-style {
  position: relative;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
  cursor: pointer;
}
.el-radio > input[type="radio"] + .el-radio-style:hover:before,
.el-checkbox > input[type="checkbox"] + .el-checkbox-style:hover:before {
  border-color: #20a0ff;
}
.el-radio > input[type="radio"] + .el-radio-style:before,
.el-checkbox > input[type="checkbox"] + .el-checkbox-style:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  content: '';
  border: 1px solid #C0CCDA;
}
.el-radio > input[type="radio"] + .el-radio-style:after,
.el-checkbox > input[type="checkbox"] + .el-checkbox-style:after {
  position: absolute;
  display: none;
  content: '';
}
.el-radio > input[type="radio"][disabled] + .el-radio-style,
.el-checkbox > input[type="checkbox"][disabled] + .el-checkbox-style {
  cursor: not-allowed;
  color: #D3DCE6;
}
.el-radio > input[type="radio"][disabled] + .el-radio-style:hover,
.el-radio > input[type="radio"][disabled] + .el-radio-style:before,
.el-radio > input[type="radio"][disabled] + .el-radio-style:after,
.el-checkbox > input[type="checkbox"][disabled] + .el-checkbox-style:hover,
.el-checkbox > input[type="checkbox"][disabled] + .el-checkbox-style:before,
.el-checkbox > input[type="checkbox"][disabled] + .el-checkbox-style:after {
  cursor: not-allowed;
}
.el-radio > input[type="radio"][disabled] + .el-radio-style:hover:before,
.el-checkbox > input[type="checkbox"][disabled] + .el-checkbox-style:hover:before {
  border: 1px solid #D3DCE6;
  animation-name: none;
}
.el-radio > input[type="radio"][disabled] + .el-radio-style:before,
.el-checkbox > input[type="checkbox"][disabled] + .el-checkbox-style:before {
  border-color: #D3DCE6;
}
.el-radio > input[type="radio"]:checked + .el-radio-style:before,
.el-checkbox > input[type="checkbox"]:checked + .el-checkbox-style:before {
  animation-name: none;
}
.el-radio > input[type="radio"]:checked + .el-radio-style:after,
.el-checkbox > input[type="checkbox"]:checked + .el-checkbox-style:after {
  display: block;
}
.el-radio > input[type="radio"] + .el-radio-style:before {
  border-radius: 50%;
}
.el-radio > input[type="radio"] + .el-radio-style:after {
  top: 0.4em;
  left: 0.4em;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background: #20a0ff;
}
.el-radio > input[type="radio"]:checked + .el-radio-style:before {
  border: 1px solid #20a0ff;
}
.el-radio > input[type="radio"]:checked[disabled] + .el-radio-style:before {
  border: 1px solid #b0d7f5;
}
.el-radio > input[type="radio"]:checked[disabled] + .el-radio-style:after {
  background: #b0d7f5;
}
.el-checkbox > input[type="checkbox"] + .el-checkbox-style:before {
  border-radius: 3px;
}
.el-checkbox > input[type="checkbox"] + .el-checkbox-style:after {
  top: 0.15em;
  left: 0.5em;
  box-sizing: border-box;
  width: 0.4em;
  height: 0.85em;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.el-checkbox > input[type="checkbox"]:checked + .el-checkbox-style:before {
  border: #20a0ff;
  background: #20a0ff;
}
.el-checkbox > input[type="checkbox"]:checked[disabled] + .el-checkbox-style:before {
  border: #b0d7f5;
  background: #b0d7f5;
}
/*yellow theme*/
.el-radio.el-radio-yellow > input[type="radio"] + label:hover:before,
.el-checkbox.el-checkbox-yellow > input[type="checkbox"] + label:hover:before,
.el-radio.el-radio-yellow > input[type="radio"]:checked + label:before,
.el-checkbox.el-checkbox-yellow > input[type="checkbox"]:checked + label:before {
  border-color: #f7ba2a;
}
.el-checkbox.el-checkbox-yellow > input[type="checkbox"]:checked + label:before,
.el-radio.el-radio-yellow > input[type="radio"] + label:after {
  background: #f7ba2a;
}
.el-radio.el-radio-yellow > input[type="radio"][disabled] + label:hover:before,
.el-checkbox.el-checkbox-yellow > input[type="checkbox"][disabled] + label:hover:before {
  border-color: #D3DCE6;
}
.el-checkbox.el-checkbox-yellow > input[type="checkbox"]:checked[disabled] + label:before,
.el-radio.el-radio-yellow > input[type="radio"]:checked[disabled] + label:before {
  border-color: #fbeac1;
}
.el-checkbox.el-checkbox-yellow > input[type="checkbox"][disabled]:checked + label:before,
.el-radio.el-radio-yellow > input[type="radio"]:checked[disabled] + label:after {
  background: #fbeac1;
}


.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  /*stroke: #FFFFFF;*/
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: goldenrod;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  /*padding-left: 8px;*/
}
.cbx:hover span:first-child {
  border-color: goldenrod;
}

.inp-cbx:checked + .cbx span:first-child {
  background: goldenrod;
  border-color: goldenrod;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}


/* ===========================

TOGGLE

=========================== */
/*

.toggle .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle input:checked + .slider {
  background-color: goldenrod;
}

.toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle .slider.round {
  border-radius: 34px;
}

.toggle .slider.round:before {
  border-radius: 50%;
}
*/

.toggle .switch,
.toggle .switch-style,
.toggle .switch-style:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.toggle .switch {
  display: inline-block;
  font-size: 100%;
  height: 1.6em;
  position: relative;
}
.toggle .switch .switch-style {
  height: 1.6em;
  left: 0;
  background: #C0CCDA;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 3em;
  cursor: pointer;
}
.toggle .switch .switch-style:before {
  display: block;
  content: '';
  height: 1.4em;
  position: absolute;
  width: 1.4em;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 0.1em;
  top: 0.1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.toggle .switch > input[type="checkbox"] {
  display: none;
}
.toggle .switch > input[type="checkbox"][disabled] + .switch-style {
  cursor: not-allowed;
  background-color: #D3DCE6;
}
.toggle .switch > input[type="checkbox"]:checked + .switch-style {
  background-color: goldenrod;
}
.toggle .switch > input[type="checkbox"]:checked + .switch-style:before {
  left: 50%;
}
.toggle .switch > input[type="checkbox"]:checked[disabled] + .switch-style {
  background-color: #b0d7f5;
}
.toggle .switch.switch-yellow > input[type="checkbox"]:checked + .switch-style {
  background-color: #f7ba2a;
}
.toggle .switch.switch-yellow > input[type="checkbox"]:checked[disabled] + .switch-style {
  background-color: #fbeac1;
}
/*define size*/
.el-radio.el-radio-sm,
.el-checkbox.el-checkbox-sm,
.toggle .switch.switch-sm {
  font-size: 85%;
}
.el-radio.el-radio-lg,
.el-checkbox.el-checkbox-lg,
.toggle .switch.switch-lg {
  font-size: 125%;
}


.toggle .title {
  /*font-weight: 700;*/
  width: 100px;
}



/* RADIO BUTTON */

.rbutton {
  margin: 0.5rem;
}
.rbutton input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.rbutton input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.rbutton input[type="radio"]:checked + .radio-label:before {
  background-color: goldenrod;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.rbutton input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: goldenrod;
}
.rbutton input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.rbutton input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}



a.style {
  color: #000;
  text-decoration: none;
}
a.style span {
  font-family: Montserrat;
  font-weight: 100;
  transition: all .5s;
  border-bottom: 1px solid;
}
a.style span:nth-child(2) { transition-delay: .1s; }
a.style span:nth-child(3) { transition-delay: .2s; }
a.style span:nth-child(4) { transition-delay: .3s; }
a.style:hover span { font-weight: 700; }
/*a.style:hover span:nth-child(10) { transition-delay: .9s; }
a.style:hover span:nth-child(9) { transition-delay: .8s; }
a.style:hover span:nth-child(8) { transition-delay: .7s; }
a.style:hover span:nth-child(7) { transition-delay: .6s; }
a.style:hover span:nth-child(6) { transition-delay: .5s; }
a.style:hover span:nth-child(5) { transition-delay: .4s; }
*/a.style:hover span:nth-child(4) { transition-delay: .3s; }
a.style:hover span:nth-child(3) { transition-delay: .2s; }
a.style:hover span:nth-child(2) { transition-delay: .1s; }
a.style:hover span:nth-child(1) { transition-delay: 0s; }

a.style.hover-shadow:hover {
  text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #ddd, 3px 3px 0px #ddd;
}
a.style.hover-color:hover {
  border-color: darkmagenta;
}





a.std {
  font-family: Calibri;
}

a.std,a.std:visited,a.std:hover,a.std:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:relative;
  transition:0.5s color ease;
  text-decoration:none;
  color:#0067b8;
  /*font-size:2.5em;*/
}
a.std:hover{
  color:darkgoldenrod;
}
a.std.before:before,a.std.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.std.before:before{
  top:-0.25em;
}
a.std.after:after{
  bottom:-0.25em;
}
a.std.before:before,a.std.after:after{
  height:2px;
  /*height:0.35rem;*/
  width:0;
  background:goldenrod;
}
a.std.first:after{
  left:0;
}
a.std.second:after{
  right:0;
}
a.std.third:after,a.std.sixth:before,a.std.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.std.fourth:before,a.std.fourth:after{
  left:0;
}
a.std.fifth:before,a.std.fifth:after{
  right:0;
}
a.std.seventh:before{
  right:0;
}
a.std.seventh:after{
  left:0;
}
a.std.eigth:before{
  left:0;
}
a.std.eigth:after{
  right:0;
}
a.std.before:hover:before,a.std.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:2.5em;
  overflow:hidden;
}
.square a.std{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square.individual:before{
  transition-delay:0.6s;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square.individual:after{
  transition-delay:0.2s;
}
.square a.std:before{
  left:0;
  transition:0.25s all ease;
}
.square a.std:after{
  right:0;
  transition:0.25s all ease;
}
.square.individual a.std:after{
  transition:0.25s all ease 0.4s;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover a.std:before,.square:hover a.std:after{
  width:100%;
}