.create_account {
    /* height: 100%; */
    /* width: 100%; */
    /* position: absolute; */
    background-color: white;
    z-index: 10;
    padding: 10px;
    box-sizing: border-box;
}

.create_account .bground {
    margin: auto;
    padding-top: 50px;
}

.create_account .read {
    color: royalblue;
    font-size: small;
}
.create_account .checkbox {
    width: fit-content;
    display: inline-block;
}

.create_account .child {
    padding: 10px 0px; 
}

.create_account .child .required_star,
.create_account .child .title {
    font-size: 10px;
    color: grey;
    padding: 0px 0px; 
}

.create_account .child .val:focus {
    border-bottom: 1px solid goldenrod;
}

.create_account .child .val {
    transition: border-bottom 0.25s;
    font-size: 12px;
    border-bottom: 1px solid black;
    /* padding: 10px 0px; */
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid black;
}

.create_account .std.verify_btn {
    margin-top: 0px;
}


.create_account .std:not(.checkbox_btn) {
    width:100%;
    margin-top: 10px;
}

.create_account .bground > .title {
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin: 20px 0px;
}

.create_account select {
    border: none;
    background: none;
    box-shadow: none;
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
    line-height: unset;
    color: black;
}

@media only screen and (min-width: 1000px) {
  .create_account .bground {
     width: 500px;
  }
}
