.profile {
    background-color: white;
    z-index: 10;
    padding: 10px;
    box-sizing: border-box;
}

.profile .bground {
    margin: auto;
    padding-top: 50px;
}

.profile .child {
    padding: 10px 0px; 
}

.profile .child .title {
    font-size: 10px;
    color: grey;
    padding: 0px 0px; 
}

.profile .child .val:focus {
    border-bottom: 1px solid goldenrod;
}

.profile .child .val {
    transition: border-bottom 0.25s;
    font-size: 12px;
    border-bottom: 1px solid black;
    /* padding: 10px 0px; */
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid black;
}

.profile .std.verify_btn {
    margin-top: 0px;
}

.profile .std {
    width:100%;
    margin-top: 10px;
}

.profile .bground > .title {
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin: 20px 0px;
}

.profile select {
    border: none;
    background: none;
    box-shadow: none;
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
    line-height: unset;
    color: black;
}

@media only screen and (min-width: 1000px) {
  .profile .bground {
     width: 500px;
  }
}
