input.theme:disabled {background-color: #E8F8F5;}
button.theme:disabled {background-color: #0B5345;}
button.theme:disabled svg {background-color: #0B5345;}
svg.theme.svg_bgclr1 path {fill:#08342B;}
svg.theme.svg_bgclr2 path {fill:#E8F8F5;}
svg.theme.can-hover:hover path {fill:gold;}
svg.theme.hover path {fill:gold;}
svg.theme:focus path {fill:gold;}
.theme.hover1,.theme.hover2{cursor: pointer;}
.theme.hover1.active1 {background-color: #0B5345;}
.theme.hover1.can-hover:hover {background-color: #0B5345;}
.theme.hover1.hover {background-color: #0B5345;}
.theme.focus1:focus {background-color: #0B5345;}
.theme.bgclr1 {background-color: #08342B;}
.theme.hover2.can-hover:hover {background-color: #E8F8F5;}
.theme.hover2.hover {background-color: #E8F8F5;}
.theme.hover2:focus {background-color: #E8F8F5;}
.theme.bgclr2 {background-color: #E8F8F5;}
.theme.scroll {background-color: rgb(100, 30, 22, 0.1);}
.theme.color1 {color: purple;}
.theme.color2 {color: #E8F8F5;}
.theme.point2 {caret-color: #E8F8F5;}
