input.theme:disabled {background-color: #FCF3CF;}
button.theme:disabled {background-color: #7E5109;}
button.theme:disabled svg {background-color: #7E5109;}
svg.theme.svg_bgclr1 path {fill:#3D2704;}
svg.theme.svg_bgclr2 path {fill:#FCF3CF;}
svg.theme.can-hover:hover path {fill:gold;}
svg.theme.hover path {fill:gold;}
svg.theme:focus path {fill:gold;}
.theme.hover1,.theme.hover2{cursor: pointer;}
.theme.hover1.active1 {background-color: #7E5109;}
.theme.hover1.can-hover:hover {background-color: #7E5109;}
.theme.hover1.hover {background-color: #7E5109;}
.theme.focus1:focus {background-color: #7E5109;}
.theme.bgclr1 {background-color: #3D2704;}
.theme.hover2.can-hover:hover {background-color: #FCF3CF ;}
.theme.hover2.hover {background-color: #FCF3CF ;}
.theme.hover2:focus {background-color: #FCF3CF ;}
.theme.bgclr2 {background-color: #FCF3CF ;}
.theme.scroll {background-color: rgb(100, 30, 22, 0.1);}
.theme.color1 {color: purple;}
.theme.color2 {color: #FCF3CF ;}
.theme.point2 {caret-color: #FCF3CF ;}
