input.theme:disabled {background-color: #F2F4F4;}
button.theme:disabled {background-color: #424949;}
button.theme:disabled svg {background-color: #424949;}
svg.theme.svg_bgclr1 path {fill:#2A3030;}
svg.theme.svg_bgclr2 path {fill:#F2F4F4;}
svg.theme.can-hover:hover path {fill:gold;}
svg.theme.hover path {fill:gold;}
svg.theme:focus path {fill:gold;}
.theme.hover1,.theme.hover2{cursor: pointer;}
.theme.hover1.active1 {background-color: #424949;}
.theme.hover1.can-hover:hover {background-color: #424949;}
.theme.hover1.hover {background-color: #424949;}
.theme.focus1:focus {background-color: #424949;}
.theme.bgclr1 {background-color: #2A3030;}
.theme.hover2.can-hover:hover {background-color: #F2F4F4;}
.theme.hover2.hover {background-color: #F2F4F4;}
.theme.hover2:focus {background-color: #F2F4F4;}
.theme.bgclr2 {background-color: #F2F4F4;}
.theme.scroll {background-color: rgb(100, 30, 22, 0.1);}
.theme.color1 {color: purple;}
.theme.color2 {color: #F2F4F4;}
.theme.point2 {caret-color: #F2F4F4;}